**/.vs/
/*.exe*
/*.dll
*.pdb
*.mdb
*.suo
*.userprefs
*.DotSettings.user

/RSVTagsExtractor/bin/
/RSVTagsExtractor/obj/

/WCCTagsExtractor/bin/
/WCCTagsExtractor/obj/

/libs/OSIsoft.*.dll
/libs/OSIsoft.*.xml
