**/.vs/
/*.exe*
/*.dll
*.pdb
*.mdb
*.suo
*.userprefs
*.DotSettings.user

/AFEventsCleaner/bin/
/AFEventsCleaner/obj/

/PITagsCleaner/bin/
/PITagsCleaner/obj/

/PIBrowser/bin/
/PIBrowser/obj/

/PIBrowserTests/bin/
/PIBrowserTests/obj/
/PIBrowserTests/OpenCover/

/temp/
